body{
	background-color: #FFFFEE;
}

a{
	margin-left: 30%;
	margin-right: 30%;
}
.logo {

	height:80%;
	display:block;
	background: url('logo.png') center top no-repeat;
}

.logo:hover {
	height:80%;
	display:block;
	background-image: url('logohover.png');
}

.screenshot{
	display:block;
	background-image: url('screen1.png') center top no-repeat;
	margin-left: 22%;
}


.screenshot2{
	display:block;
	background-image: url('screen2.png') center top no-repeat;
	margin-left: 22%;
}

