body{
	background-color: #FFFFEE;
}

a{
	margin-left: 30%;
	margin-right: 30%;
}
.logo {
	margin-bottom: 5px;

	height:80%;
	display:block;
	background: url('logo.png') center top no-repeat;
}

.logo:hover {
	margin-bottom: 5px;
	height:80%;
	display:block;
	background-image: url('logohover.png');
}